<div id="pandora-canvas">
  <h2 class="dashboard-title">&nbsp Pandora Kibana Canvas</h2>
  <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active resp-container">
          <iframe class="resp-iframe" src="/images/reports/pandora/test.pdf"></iframe>
        </div>
        <div class="carousel-item resp-container">
          <iframe class="resp-iframe" src="/images/reports/pandora/test.pdf"></iframe>
        </div>
        <div class="carousel-item resp-container">
          <iframe class="resp-iframe" src="/images/reports/pandora/test.pdf"></iframe>
        </div>
      </div>
    
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
