<!DOCTYPE html>
<html>
  <head>
    <title>64labs QA Automation Manager</title>

    <% /* Viewport tag for sensible mobile support */ %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-signin-client_id" content="396819228577-1l0ai19j3h8ontok6ki7boh190eejhf8.apps.googleusercontent.com">
    <meta name="google-site-verification" content="B9y3INsIErFl6vO7WkNiSMwJqbpQmuFHbn2ZKbxOwV4" />

    <% /*
        Stylesheets
        ========================

        Stylesheets can be hard-coded as «link» tags, automatically injected
        by the asset pipeline between "STYLES" and "STYLES END", or both.
        (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Auto-injected «link» tags: */ %>
    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="/dependencies/font-awesome-4/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <div id="page-wrap">
      <header id="page-header" class="navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between">
        <a class="navbar-brand mr-0" href="/">64labs QA Automation Manager</a>
        <div class="navbar-nav flex-row">
            <div class="nav-item dropdown d-none d-sm-block">
              <a class="nav-link dropdown-toggle" id="header-account-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
              <div class="dropdown-menu account-menu" aria-labelledby="header-account-menu-link">
                <a id="dashNav" class="dropdown-item" href="/welcome" target="_blank">Dashboard</a>
                <a id="manageNav" class="dropdown-item" href="/manage" target="_blank">Manage</a>
                <a id="gSignInNav" class="dropdown-item g-signin2"></a>
                <a id="gSignOutNav" class="dropdown-item" onclick="signOut();">Sign out</a>
              </div>
            </div>
        </div>
      </header>

      <%- body %>

      <footer id="page-footer" class="navbar navbar-light justify-content-between flex-row-reverse">
        <div class="nav">
          <small class="nav-item"><a class="nav-link text-info" href="/contact">Help<span class="d-none d-sm-inline"></span></a></small>
        </div>
        <small class="copy">Copyright &copy; 2019 64labs. <br class="xs-only"/>All rights reserved.</small>
      </footer>
    </div>


    <% /*
      Client-side JavaScript
      ========================

      Scripts can be hard-coded as «script» tags, automatically injected
      by the asset pipeline between "SCRIPTS" and "SCRIPTS END", or both.
      (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Google Sign-In / Sign-Out*/ %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>

      function start() {
        gapi.load('auth2', function() {
          gapi.auth2.init({
            client_id: '396819228577-1l0ai19j3h8ontok6ki7boh190eejhf8.apps.googleusercontent.com',
          }).then(auth2 => {
            const isSignedIn = localStorage.getItem("isSignedIn");
            setMenu(isSignedIn);

            $('#gSignInNav').click(function() {
                auth2.grantOfflineAccess({
                  scope: 'https://www.googleapis.com/auth/gmail.readonly'
                }).then(appAuth);  
            });
          });
        });
      }

      function setMenu(state) {

        console.log(`google client state -> ${state}`);

        if (state) {
          $('#dashNav').show();
          $('#manageNav').show();
          $('#gSignOutNav').show();
          $('#gSignInNav').hide();
        }
        else {
          $('#dashNav').hide();
          $('#manageNav').hide();
          $('#gSignOutNav').hide();
          $('#gSignInNav').show();
        }
      }

      async function appAuth(authResult) {
        if (authResult['code']) {
          setTimeout(async function() { 
            let googleUser = gapi.auth2.getAuthInstance().currentUser.get();
            let profile = googleUser.getBasicProfile();

            const email = profile.getEmail();
            const name = profile.getName();

            const sailsAuthResp = await $.get('/sails-auth', { 
              "email": email, 
              "name": name 
            });

            if (sailsAuthResp === 'OK') {
              localStorage.setItem("isSignedIn", "true");
              if (email === 'amazza@64labs.com') {
                const cronResp = await $.get('/start-cron-job', { "gAuthCode": authResult['code'] });
                console.log(cronResp);
              }
              window.location = '/welcome';
            }
          }, 3000);
        }
      }

      function signOut() {
        let auth2 = gapi.auth2.getAuthInstance();

        auth2.signOut().then(function () {
          $.get('/logout').then(resp => {
            console.log(resp);
            localStorage.removeItem("isSignedIn");
            window.location = '/';
          });
        });
        auth2.disconnect();
      }

    </script>

    <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>delete window.self;</script>

    <% /* Auto-injected «script» tags: */ %>
    <!--SCRIPTS-->
    <script src="/min/production.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
