#ann-summers-dashboard {

  .dashboard-title {
    background-color: #343a40;
    color: white;
    margin-bottom: 0px;
  }

  .resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }

  .resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
