#pandora-menu {
  padding-top: 75px;
  padding-bottom: 75px;
  
  .zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }

  .zoom:hover {
    transform: scale(1.32); /* (132% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}
