<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>This is your QA automation dashboard. If you need assistance, feel free to send a direct message to the QA team in slack.</p>
    <div class="buttons">
      <button class="btn btn-outline-info ml-2" @click="clickOpenDashboardReferenceModalButton()">Quick Reference</button>
      <button class="btn btn-outline-info ml-2" @click="clickOpenDashboardNoticeModalButton()">Important Notice</button>
      <a href="/manage" target="_blank" class="btn btn-outline-info ml-2">Data Management</a>
      <a href="/kibana" target="_blank" class="btn btn-outline-info ml-2">Projects</a>
    </div>
  </div>

  <modal class="example-modal" v-if="dashboardModalReferenceVisible" @close="closeDashboardReferenceModal()" v-cloak>
      <div class="modal-header">
        <h2 class="modal-title">Quick Reference</h2>
        <p>Your Guide to Running Automated Tests</p>
        <hr/>
        <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="section-heading">Testing Dashboard</h5>
        <p>The Dashboard will provide a step by step process in how to create a test run and execute it. The application will validate your inputs as you proceed though the steps.</p>
        <h5 class="section-heading">Step 1</h5>
        <p>Choose the application / project you wish to run your test(s) on.</p>
        <h5 class="section-heading">Step 2</h5>
        <p>Choose the device you wish to emulate during the test run. </p>
        <h5 class="section-heading">Step 3</h5>
        <p>Run! The "Run" button will be enabled if all fields are valid.
          <br><br>The following are optional fields:  
          <br> - Pick a specific area to test or script to execute. By default, all scripts will be executed for the chosen application. 
          <br> - Add a Jira ticket. The results will be posted as a comment when the test run is complete. 
          <br> - Pick a browser. Default is Electron. Chrome does not support video recording.
          <br> - You can now generate a quick script of this test run for future use.
        </p>
        <h5 class="section-heading">Results!</h5>
        <p>Results will be displayed once the test run is complete. If you entered a Jira Ticket, the results will also be posted as a new comment in the ticket specified.</p>
      </div>
      <div class="modal-footer flex-row-reverse justify-content-between">
        <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
      </div>
  </modal>

  <modal class="example-modal" v-if="dashboardModalNoticeVisible" @close="closeDashboardNoticeModal()" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Important Notice!</h2>
      <p>The QA Automation team could use your help!</p>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5 class="section-heading">Reduce risk of failure</h5>
      <p>Our QA team wants to identify, prioritize and elimitate potential sources of failure within our applications. 
        If you have identified an area of risk, let us know about it. Helpful details include: the web application, issue area and test steps.
      </p>
      <h5 class="section-heading">Keeping you in the loop</h5>
      <p>If an issue were to occur, we want to keep you in the loop.
        Let us know the best way to contact you, slack, jira or a good ol' fashioned email.
      <h5 class="section-heading">Test cases</h5>
      <p>Project managers and the developers know our products. Our QA team wants to leverage that knowledge.
        You provide the test cases and objectives, QA will provide the scripts and tools for proper testing.
      </p>
      <h5 class="section-heading">Feedback!</h5>
      <p>The QA team thrives on your feedback! Feel free to email me 
        <a href="mailto:amazza@64labs.com?Subject=QA%20Automation%20Feedback" target="_top">Send Mail</a>, send me a direct message via 
        <a href="https://64labs.slack.com/messages/CCAA1MEKW" target="_blank">Slack</a> or speak with me in person :)
      </p>
    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
    </div>
  </modal>
</div>

<div id="dashboard" class="container">
    <p id="pickParamsDesc" class="wizard-message">Pick an application:</p>
    <div id="btnGrpApps" class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Applications
        </button>
        <div id="ddlApps" class="dropdown-menu scrollable-menu">
          <% _.each(applications, function (app) { %>
            <a class="dropdown-item" projectId="<%= app._source.project_id %>" url="<%= app._source.default_url %>" value="<%= app._source.identifier %>"><%= app._source.name %></a>
          <% }) %>
        </div>
    </div>
    <div id="btnGrpDevices" class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle btn-danger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Devices
        </button>
        <div id="ddlDevices" class="dropdown-menu scrollable-menu">
          <% _.each(devices, function (device) { %>
            <a class="dropdown-item" value="<%= device._source.identifier %>"><%= device._source.name %></a>
          <% }) %>
        </div>
    </div>
    <div id="btnGrpBrowsers" class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Browsers
        </button>
        <div id="ddlBrowsers" class="dropdown-menu scrollable-menu">
          <% _.each(browsers, function (browser) { %>
            <a class="dropdown-item" value="<%= browser._source.identifier %>"><%= browser._source.name %></a>
          <% }) %>
        </div>
    </div>
    <div id="btnGrpAppAreas" class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Application Areas
        </button>
        <div id="ddlAppAreas" class="dropdown-menu scrollable-menu"></div>
    </div>
    <div id="btnGrpScripts" class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Scripts
        </button>
        <div id="ddlAppScripts" class="dropdown-menu scrollable-menu"></div>
    </div>
    <hr>
    <div id="appContainer" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="appAddon">Application</span>
        </div>
        <input id="txtApp" type="text" class="form-control" disabled>
    </div>
    <div id="testAppContainer" class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="testAppAddon">Test Application</span>
      </div>
      <input id="txtTestApp" type="text" class="form-control" placeholder="youfit">
    </div>
    <div id="urlContainer" class="input-group mb-3">
        <div class="input-group-prepend">
            <span id="urlPrefix" class="input-group-text">http://www.</span>
        </div>
        <input id="txtUrl" type="text" class="form-control" placeholder="youfit.com">
        <div class="input-group-append">
            <span class="input-group-text">/</span>
        </div>
    </div>
    <div id="deviceContainer" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="deviceAddon">Device</span>
        </div>
        <input id="txtDevice" type="text" class="form-control" disabled>
    </div>
    <div id="browserContainer" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="browserAddon">Browser</span>
        </div>
        <input id="txtBrowser" type="text" class="form-control" value="Electron" disabled>
    </div>
    <div id="appAreaContainer" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="appAreaAddon">Application Area</span>
        </div>
        <input id="txtAppArea" type="text" class="form-control" disabled>
    </div>
    <div id="scriptContainer" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="scriptAddon">Script</span>
        </div>
        <input id="txtScript" type="text" class="form-control" disabled>
    </div>
    <div id="jiraIssueContainer" class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="jiraIssueAddAddon">Jira Issue</span>
        </div>
        <input id="txtJiraIssue" type="text" class="form-control" placeholder="ASUM-378">
    </div>
    <p>Quick Run! Insert your saved script here or generate a new script and save it for later.</p>
    <div id="quickRunContainer" class="input-group mb-3">
        <div class="input-group-prepend">
            <button id="btnGenScript" class="btn btn-outline-secondary" type="button" disabled>Generate Script</button>
        </div>
        <input id="txtRunParams" type="text" class="form-control" placeholder="parameters">
    </div>
    <div class="row">
        <div class="col-md-1">
            <button id="btnRun" class="btn btn-danger" type="button" disabled>Run</button>
        </div>
        <div id="spinner" class="col-md-1">
            <i class="fa fa-spinner fa-spin spinner-center"></i>
        </div>
        <div id="errorMsg" class="col-md-6 error-message">
            <p></p>
        </div>
    </div>
    <hr>
    <div class="container">
      <p id="testStatus">Your tests are running! Check on the status of your tests here: </p>
      <a id="testResultUrl" href="" target="_blank"></a>
    </div>
    <div class="accordion" id="resultAccordion">
      <div id="accResults" class="card">
        <div class="card-header" id="headingResults">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseResults" aria-expanded="false" aria-controls="collapseError">
              Result Details
            </button>
          </h5>
        </div>
        <div id="collapseResults" class="collapse" aria-labelledby="headingResults" data-parent="#resultAccordion">
          <div id="accResultsBody" class="card-body"></div>
        </div>
      </div>
    </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
