<div id="ann-summers-dashboard">
  <h2 class="dashboard-title">&nbsp Ann Summers Kibana Dashboard</h2>
  <div class="resp-container"> 
      <iframe class="resp-iframe" src="https://5e38df3ed59442238fadc9620181656b.us-east-1.aws.found.io:9243/app/kibana#/dashboard/f66f1c80-d61e-11e8-a0cb-d542d74c311d?embed=true&_g=(refreshInterval%3A(display%3A'5%20minutes'%2Cpause%3A!f%2Csection%3A2%2Cvalue%3A300000)%2Ctime%3A(from%3Anow%2Fd%2Cinterval%3Aauto%2Cmode%3Aquick%2Ctimezone%3AAmerica%2FNew_York%2Cto%3Anow%2Fd))"></iframe>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
