<div id="pandora-dashboard">
  <h2 class="dashboard-title">&nbsp Pandora Kibana Dashboard</h2>
  <div class="resp-container"> 
      <iframe class="resp-iframe" src="https://5e38df3ed59442238fadc9620181656b.us-east-1.aws.found.io:9243/app/kibana#/dashboard/c92c8590-f186-11e8-820a-b3425b16f143?embed=true&_g=(refreshInterval:(pause:!f,value:300000),time:(from:now%2Fd,mode:quick,to:now%2Fd))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!t,hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(),gridData:(h:9,i:'1',w:48,x:0,y:0),id:'0f964770-d61e-11e8-a0cb-d542d74c311d',panelIndex:'1',type:visualization,version:'6.3.2'),(embeddableConfig:(),gridData:(h:15,i:'2',w:28,x:0,y:9),id:'4d28ac90-a617-11e8-a0cb-d542d74c311d',panelIndex:'2',type:visualization,version:'6.3.2'),(embeddableConfig:(),gridData:(h:15,i:'3',w:20,x:28,y:9),id:'85abec80-d61e-11e8-a0cb-d542d74c311d',panelIndex:'3',type:visualization,version:'6.3.2')),query:(language:lucene,query:'application:pandora'),timeRestore:!t,title:'64labs+-+QA+Automation+-+Pandora+(Today)',viewMode:view)"></iframe>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>