<div id="soia-kyo-dashboard">
  <h2 class="dashboard-title">&nbsp Soia & Kyo Kibana Dashboard</h2>
  <div class="resp-container"> 
      <iframe class="resp-iframe" src="https://5e38df3ed59442238fadc9620181656b.us-east-1.aws.found.io:9243/app/kibana#/dashboard/f927b1c0-f186-11e8-820a-b3425b16f143?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A300000)%2Ctime%3A(from%3Anow%2Fd%2Cmode%3Aquick%2Cto%3Anow%2Fd))"></iframe>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>