#welcome {
  padding-top: 75px;
}

#dashboard {
  padding-top: 25px;
  padding-bottom: 75px;

  .resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }

  .resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  #resultAccordion {
    padding-top: 25px;
  }

  .pass {
    color:green;
  }

  .error {
    color:red;
  }

  .wizard-message {
    color: #0085d8c4;
    font-weight: bold;
  }

  .spinner-center {
    margin-top: 10px;
  }

  .error-message {
    color: red;
    margin-top: 5px;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }
}
