<div id="contact" v-cloak>
  <div class="container">
    <h1 class="text-center">Help Documentation</h1>
    <p class="text-center">Full help documentation is under construction. We thank you for your patience.</p>
  </div>
  <div class="container">
      <div class="setup">
        <div style="width:100%;height:0;padding-bottom:50%;position:relative;">
          <iframe src="https://giphy.com/embed/JIX9t2j0ZTN9S" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
      </div>
  </div>
  <hr>
  <div class="container">
    <h1 class="text-center">Get in touch</h1>
    <p class="text-center">Have a question for us?  Maybe some feedback? 
      <br> We love talking to users about the 64labs QA Automation Manager, and we're happy to answer questions you may have.</p>
    <p class="text-center">Feel free to reach out to us on the 64labs 
      <a href="https://64labs.slack.com/messages/CCAA1MEKW" target="_blank">Slack #qa channel</a> or via email 
      <a href="mailto:amazza@64labs.com?Subject=QA Automation Manager" target="_top">amazza@64labs.com</a>
    </p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
