<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
        <img class="sky" alt="The sky above the ocean" src="/images/hero-sky.png"/>
        <img class="cloud cloud-1" alt="A grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="cloud cloud-2" alt="Another grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="logo" alt="64labs" src="/images/64labs-logo.png"/>
        <img class="water" alt="The shadow of the floating ship on the water" src="/images/hero-water.png"/>
      </div>
      <h1 class="display-4">Let's Run Some Tests!</h1>
      <div>
        <div class="more-info-text" @click="clickHeroButton()">
          <div class="text">Getting Started</div>
          <div class="icon">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-wrapper" role="scroll-destination">
    <div class="container">
      <div class="about text-center">
        <h3>QA Automation is here!</h3>
        <p>We want to make it easy for anyone to run our test cases, see the results and provide valuable metrics. The best way to show you how it all works is to run your first test! Just follow these simple steps:</p>
      </div>
      <div class="features text-center">
        <div class="row">
          <div class="feature col-sm">
            <div class="icon">
              <i class="fa fa-lock"></i>
            </div>
            <h4>Login</h4>
            <p class="text-muted">Login with your 64labs account!</p>
          </div>
          <div class="col-sm feature">
            <div class="icon">
              <i class="fa fa-hourglass"></i>
            </div>
            <h4>Run Tests</h4>
            <p class="text-muted">Your dashboard will contain tests cases that you can run with a click of a button, give it a shot!</p>
          </div>
          <div class="col-sm feature">
            <div class="icon">
              <i class="fa fa-bar-chart"></i>
            </div>
            <h4>See Results</h4>
            <p class="text-muted">With Cypress, you can see the progress of your test executions and see the results in real-time! If selected, you can also record an entire test run for future playback. Seeing test results never looked so good ;)</p>
          </div>
        </div>
        <div id="gSignInHome" class="center"></div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
