<div id="manage-overview" v-cloak>
  <div class="container">
    <h1>Data Management</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/welcome">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data Management</li>
      </ol>
    </nav>
    <hr/>
    <div class="container">
      <div class="row">
        <div class="col-sm">
            <a href="/manage/devices"><img src="/images/es-devices.png" class="zoom"></a>
        </div>
        <div class="col-sm">
            <a href="/manage/webapps"><img src="/images/es-web-apps.png" class="zoom"></a>
        </div>
        <div class="col-sm">
            <a href="/manage/app-areas"><img src="/images/es-app-areas.png" class="zoom"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <a href="/manage/app-scripts"><img src="/images/es-app-scripts.png" class="zoom"></a>
        </div>
        <div class="col-sm">
            <a href="/manage/browsers"><img src="/images/browsers.png" class="zoom"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
