<div id="manage-app-areas" v-cloak>
  <div class="container">
    <h1>App Area Management</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/welcome">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/manage">Data Management</a></li>
      <li class="breadcrumb-item active" aria-current="page">App Area Management</li>
    </ol>
    <hr/>
    <ul class="nav nav-tabs" id="appAreaTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="appAreaCreate" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="true">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="appAreaUpdate" data-toggle="tab" role="tab" href="#update" aria-controls="update" aria-selected="false">Update</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="appAreaDelete" data-toggle="tab" role="tab" href="#delete" aria-controls="delete" aria-selected="false">Delete</a>
      </li>
    </ul>
  </div>
  <div id="createAppArea" class="container">
    <div id="ddlAppsContainer" class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Applications
        </button>
        <div id="ddlApps" class="dropdown-menu scrollable-menu">
          <% _.each(apps, function (app) { %>
            <a class="dropdown-item" value="<%= app._source.identifier %>"><%= app._source.name %></a>
          <% }) %>
        </div>
    </div>
    <div id="ddlAppAreasContainer" class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Application Areas
        </button>
        <div id="ddlAppAreas" class="dropdown-menu scrollable-menu"></div>
    </div>
    <div class="form-group">
      <label for="appAreaName">Name</label>
      <input type="text" class="form-control" id="appAreaName" placeholder="Registration" disabled>
    </div>
    <div class="form-group">
      <label for="appAreaIdentifier">Identifier</label>
      <input type="text" class="form-control" id="appAreaIdentifier" placeholder="registration" disabled>
    </div>
    <div class="form-group">
      <label for="appIdentifier">Application Identifier</label>
      <input type="text" class="form-control" id="appIdentifier" placeholder="" disabled>
    </div>
    <div class="form-group">
      <label class="switch">
        <input id="appAreaActive" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <button id="btnCUDAppArea" class="btn btn-primary">Create</button>
    <a href="/manage" class="btn btn-secondary">Cancel</a>
    <hr>
    <div id="success">Document Created!</div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
