<div id="manage-browsers" v-cloak>
  <div class="container">
    <h1>Browser Management</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/welcome">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/manage">Data Management</a></li>
      <li class="breadcrumb-item active" aria-current="page">Browser Management</li>
    </ol>
    <hr/>
    <ul class="nav nav-tabs" id="browserTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="browserCreate" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="true">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="browserUpdate" data-toggle="tab" role="tab" href="#update" aria-controls="update" aria-selected="false">Update</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="browserDelete" data-toggle="tab" role="tab" href="#delete" aria-controls="delete" aria-selected="false">Delete</a>
      </li>
    </ul>
  </div>
  <div id="createBrowser" class="container">
    <div id="ddlBrowsersContainer" class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Browsers
        </button>
        <div id="ddlBrowsers" class="dropdown-menu scrollable-menu">
          <% _.each(browsers, function (browser) { %>
            <a class="dropdown-item" value="<%= browser._source.identifier %>"><%= browser._source.name %></a>
          <% }) %>
        </div>
    </div>
    <div class="form-group">
      <label for="browserName">Name</label>
      <input type="text" class="form-control" id="browserName" placeholder="Chrome">
    </div>
    <div class="form-group">
      <label for="browserIdentifier">Identifier</label>
      <input type="text" class="form-control" id="browserIdentifier" placeholder="chrome">
    </div>
    <div class="form-group">
      <label class="switch">
        <input id="browserActive" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <button id="btnCUDBrowser" class="btn btn-primary">Create</button>
    <a href="/manage" class="btn btn-secondary">Cancel</a>
    <hr>
    <div id="success">Document Created!</div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
