<div id="manage-webapps" v-cloak>
  <div class="container">
    <h1>Application Management</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/welcome">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/manage">Data Management</a></li>
      <li class="breadcrumb-item active" aria-current="page">Application Management</li>
    </ol>
    <hr/>
    <ul class="nav nav-tabs" id="webAppTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="webAppCreate" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="true">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="webAppUpdate" data-toggle="tab" role="tab" href="#update" aria-controls="update" aria-selected="false">Update</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="webAppDelete" data-toggle="tab" role="tab" href="#delete" aria-controls="delete" aria-selected="false">Delete</a>
      </li>
    </ul>
  </div>
  <div id="createWebApp" class="container">
    <div id="ddlAppsContainer" class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Applications
        </button>
        <div id="ddlApps" class="dropdown-menu scrollable-menu">
          <% _.each(applications, function (app) { %>
            <a class="dropdown-item" value="<%= app._source.identifier %>"><%= app._source.name %></a>
          <% }) %>
        </div>
    </div>
    <div class="form-group">
      <label for="webAppName">Name</label>
      <input type="text" class="form-control" id="webAppName" placeholder="Youfit">
    </div>
    <div class="form-group">
      <label for="webAppIdentifier">Identifier</label>
      <input type="text" class="form-control" id="webAppIdentifier" placeholder="youfit">
    </div>
    <div class="form-group">
      <label for="webAppDefaultUrl">Default URL</label>
      <input type="text" class="form-control" id="webAppDefaultUrl" placeholder="youfit.com">
    </div>
    <div class="form-group">
      <label for="webAppProjectId">Project ID</label>
      <input type="text" class="form-control" id="webAppProjectId" placeholder="xxxxxx">
    </div>
    <div class="form-group">
      <label for="webAppCypressKey">Cypress Key</label>
      <input type="text" class="form-control" id="webAppCypressKey" placeholder="40a170d0-6533-4ae7-bcb1-71f240f9d985">
    </div>
    <div class="form-group">
      <label class="switch">
        <input id="webAppActive" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <button id="btnCUDWebApp" class="btn btn-primary">Create</button>
    <a href="/manage" class="btn btn-secondary">Cancel</a>
    <hr>
    <div id="success"></div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
