<div id="manage-app-scripts" v-cloak>
  <div class="container">
    <h1>Script Management</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/welcome">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/manage">Data Management</a></li>
      <li class="breadcrumb-item active" aria-current="page">Script Management</li>
    </ol>
    <hr/>
    <ul class="nav nav-tabs" id="appScriptTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="appScriptCreate" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="true">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="appScriptUpdate" data-toggle="tab" role="tab" href="#update" aria-controls="update" aria-selected="false">Update</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="appScriptDelete" data-toggle="tab" role="tab" href="#delete" aria-controls="delete" aria-selected="false">Delete</a>
      </li>
    </ul>
  </div>
  <div id="createAppScript" class="container">
    <div id="ddlAppsContainer" class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Applications
      </button>
      <div id="ddlApps" class="dropdown-menu scrollable-menu">
        <% _.each(apps, function (app) { %>
          <a class="dropdown-item" value="<%= app._source.identifier %>"><%= app._source.name %></a>
        <% }) %>
      </div>
    </div>
    <div id="ddlAppAreasContainer" class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Application Areas
      </button>
      <div id="ddlAppAreas" class="dropdown-menu scrollable-menu"></div>
    </div>
    <div id="ddlAppScriptsContainer" class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Application Scripts
      </button>
      <div id="ddlAppScripts" class="dropdown-menu scrollable-menu"></div>
    </div>
    <div class="form-group">
      <label for="appScriptName">Name</label>
      <input type="text" class="form-control" id="appScriptName" placeholder="Product Detail Page Regression" disabled>
    </div>
    <div class="form-group">
      <label for="appScriptDescription">Description</label>
      <textarea class="form-control" rows="5" id="appScriptDescription" placeholder="Product Detail Page Regression. The script validates the following: 1) ... 2) ... " disabled></textarea>
    </div>
    <div class="form-group">
      <label for="appScriptFileName">File Name</label>
      <input type="text" class="form-control" id="appScriptFileName" placeholder="pdp-load-time.spec.js" disabled>
    </div>
    <div class="form-group">
      <label for="appIdentifier">Application Identifier</label>
      <input type="text" class="form-control" id="appIdentifier" placeholder="" disabled>
    </div>
    <div class="form-group">
      <label for="appAreaIdentifier">Application Area Identifier</label>
      <input type="text" class="form-control" id="appAreaIdentifier" placeholder="" disabled>
    </div>
    <div class="form-group">
      <label class="switch">
        <input id="appScriptActive" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <button id="btnCUDAppScript" class="btn btn-primary">Create</button>
    <a href="/manage" class="btn btn-secondary">Cancel</a>
    <hr>
    <div id="success">Document Created!</div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
