<div id="manage-devices" v-cloak>
  <div class="container">
    <h1>Device Management</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/welcome">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="/manage">Data Management</a></li>
      <li class="breadcrumb-item active" aria-current="page">Device Management</li>
    </ol>
    <hr/>
    <ul class="nav nav-tabs" id="deviceTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="deviceCreate" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="true">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="deviceUpdate" data-toggle="tab" role="tab" href="#update" aria-controls="update" aria-selected="false">Update</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="deviceDelete" data-toggle="tab" role="tab" href="#delete" aria-controls="delete" aria-selected="false">Delete</a>
      </li>
    </ul>
  </div>
  <div id="createDevice" class="container">
    <div id="ddlDevicesContainer" class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Devices
        </button>
        <div id="ddlDevices" class="dropdown-menu scrollable-menu">
          <% _.each(devices, function (device) { %>
            <a class="dropdown-item" value="<%= device._source.identifier %>"><%= device._source.name %></a>
          <% }) %>
        </div>
    </div>
    <div class="form-group">
      <label for="deviceName">Name</label>
      <input type="text" class="form-control" id="deviceName" placeholder="MacBook Pro">
    </div>
    <div class="form-group">
      <label for="deviceIdentifier">Identifier</label>
      <input type="text" class="form-control" id="deviceIdentifier" placeholder="macbookpro">
    </div>
    <div class="form-group">
        <label for="deviceViewport">Viewport</label>
        <input type="text" class="form-control" id="deviceViewport" placeholder="1920x1080">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="deviceWidth">Width</label>
        <input type="number" class="form-control" id="deviceWidth" placeholder="1920">
      </div>
      <div class="form-group col-md-6">
        <label for="deviceHeight">Height</label>
        <input type="number" class="form-control" id="deviceHeight" placeholder="1080">
      </div>
    </div>
    <div class="form-group">
      <label class="switch">
        <input id="deviceActive" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <button id="btnCUDDevice" class="btn btn-primary">Create</button>
    <a href="/manage" class="btn btn-secondary">Cancel</a>
    <hr>
    <div id="success">Document Created!</div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
