<div id="kibana-projects">
  <div class="container">
    <h1>Kibana Projects</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/welcome">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kibana Projects</li>
      </ol>
    </nav>
    <hr/>
    <div class="container">
      <div class="row">
        <div class="col-sm">
            <a href="/kibana/general"><img src="/images/setup-customize.png" class="zoom"></a>
        </div>
        <div class="col-sm">
            <a href="/kibana/ann-summers"><img src="/images/ann-summers-logo.png" class="zoom"></a>
        </div>
        <div class="col-sm">
          <a href="/kibana/youfit"><img src="/images/youfit-logo.png" class="zoom"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <a href="/kibana/pandora"><img src="/images/pandora-logo.png" class="zoom"></a>
        </div>
        <div class="col-sm">
            <a href="/kibana/kirklands"><img src="/images/kirklands-logo.png" class="zoom"></a>
        </div>
        <div class="col-sm">
            <a href="/kibana/carparts"><img src="/images/carparts-logo.png" class="zoom"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
