<div id="pandora-menu">
  <div class="container">
    <h1>Pandora Dashboards</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/welcome">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/kibana">Kibana Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pandora Menu</li>
      </ol>
    </nav>
    <hr/>
    <div class="container">
      <div class="row">
        <div class="col-sm">
            <a href="/kibana/pandora-canvas"><img src="/images/setup-customize.png" class="zoom"></a>
        </div>
        <div class="col-sm">
            <a href="/kibana/pandora-dashboard"><img src="/images/elasticsearch.png" class="zoom"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
